.modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.635);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 25px;
}
.modal-contenet {
    background-color: bisque;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    color: green;
}